#!/usr/bin/env python3
# -*- coding: utf-8 -*-
#   Version 
#   Author: WildfootW
#   GitHub: github.com/WildfootW
#   Copyleft (C) 2020 WildfootW All rights reversed.
#

hostname = ""
hostport = 636
bindDN = "uid=admin,cn=sysaccounts,cn=etc,dc=example,dc=com"
bindPW = ""
baseDN = "dc=example,dc=com"

usersDN  =  "cn=users,cn=accounts," + baseDN
groupsDN = "cn=groups,cn=accounts," + baseDN

